@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700,800|Nunito:300,300i,400,400i,600,600i,700,700i');

body{
  margin: 0px;
  padding: 0px;
}
html{
  scroll-behavior: smooth;
}
*{
  user-select: none;
}
.topbar{
  height: 80px;
  background-color:#FFEFD5;
  margin: 0px;
  position:absolute;
  width: 100%;
  top: 0;
  
}
.logo{
  top: 10px;
  height: 240px;
  width: 80px;
  padding: 10px;
}
nav>ul{
  list-style: none;
  right: 4px;
  position: absolute;
  margin-top: 0px;
  top: 14px;

}
nav>ul>li{
  display: inline-block;
  line-height: 0px;
  margin: 0 3px;
  height: 52px;
  padding-top: 25px;
  padding-left: 6px;
  padding-right: 4px;
}
nav>ul>li>span{
  color: #008000;
  text-decoration: none;
  font-size: 15px;
  font-family:Nunito;
  font-weight: bold;
}
nav>ul>li>span>a{
  text-decoration: none;
  color: #008000;
}
span::before{
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
background: rgb(118,168,0);
  left: 50%;
bottom: -8px;
  border-radius: 5px;
  transition: 0.2s;
}

nav>ul:hover span{
  color: #9932cc;
  cursor: pointer;
}
nav>ul:hover span>a{
    color: #9932cc;
  cursor: pointer;
}
nav>ul>li>span:hover li>.line{
  display: block;
}
nav>ul>li:hover .link {
  font-size: 16px;
  transition: 0.3s;
}
nav>ul>li:hover .link{
  color: black;
  transition: 0.2s;
}
.line{
  height: 2px;
  background-color: #7CFC00;
  display: none;
}

.dropdown>ul{
  display: none;
  list-style: none;
  font-size: 15px;
  position: absolute;
  top: 66px;
  margin:0px;
}
.dropdown:hover>ul{
  display: block;
}
.dropdown>ul>li{
    background: rgba(111, 54, 98, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f9b6c8;
    float: left;
    padding: 14px 30px;
    width: 200px;
    margin: 0px 0;
    line-height: 20px;
}
.dropdown>ul>li>a {
    float: left;
    width: 100%;
    font-family: Nunito;
    color: #e8ecec;
    font-size: 14px;
    letter-spacing: 0.5px;

    text-decoration: none;
    transition: 1.4s;
}
.dropdown>ul>li>a:hover{
  font-size: 18px;
  transition: 0s ease;
}


/*Content*/
.heading{
  font-style: italic;
  font-size: 17px;
}
.content{
  position: relative;
  top: 90px;
  margin-left: 15px;
  width: 450px;
  height: 430px;
  line-height: 25px;
  font-family: Nunito;
  color: #666666;
  box-shadow: 2px 2px 5px #808080;
  padding: 5px 10px 10px 10px;
}
strong{
  color: #cc0000;
}

/*GALLERY*/
.row{
  float: left;
  display: flex;
  position: relative;
  top: 320px;
  left: 15px;

}

.img{
  margin-left: 35px;
  height: 420px;
  right: 15px;
  width: 370px;
}

.gallery-detail{
  position: relative;
  font-family: Nunito;
  text-align: center;
  top: -433px;
  color: #fff;
  background-color: #333333;
  height: 410px;
  width: 379.25px;
  opacity: 0.66;
  display: none;

}
.gallery-detail>h3{
  position: relative;
  top: 50%;
}

.img:hover .gallery-detail{
display: block;

}
/*FOOTER*/
.footer{
  position: relative;
  background-color: #FFEFD5;
  width: 100%;
  height:100px;
  top: 1170px;
}


.container{
  padding-left: 15px;
  top: 33.33%;
  position: absolute;
  line-height: 20px;
  left: 10px;
}



.bottomnav>ul{
  right: 50px;
  position: absolute;
  top: 25%;
  font-family: Nunito;
}
.bottomnav>ul>li{
  list-style: none;
  float: left;
  display: inline-block;
}
.bottomnav>ul>li>a{
  text-decoration: none;
  margin: 0 10px;
   color: #0d1aec;
}
.bottomnav>ul>li>a:hover{
  color:red;
}
.top{
  position: fixed; bottom: 2px; right: 4px;
}

.top:hover{
  width: 60px;
  height: 60px;
  transition: 0.5s;
}

/*motto*/
.motto{
  position: absolute;
  left: 43%;
  width: 700px;
  top: 90px;
  height: 265px;
  box-shadow: 2px 2px 5px #808080;
}
.br{
  display: none;
}

.slogan{
  left: 43%;
  top: 375px;
  position: absolute;
  font-size: 30px;
  font-family: Nunito;
  color: #ffffcc;
  background-size: cover;
  height: 160px;
}

.slogan>h2::first-letter{
  font-size: 55px;

}





/*RESPONSIVENESS*/
@media only screen and (max-width: 1024px){
    body{
  margin: 0px;
  padding: 0px;
}
.topbar{
  height: 80px;
  background-color:#FFEFD5;
  margin: 0px;
  position:absolute;
  width: 100%;
  top: 0;
  
}
.logo{
  top: 10px;
  height: 240px;
  width: 80px;
  padding: 10px;
}
.menuicon{
  position: absolute;
  right: 400px; 
  top:15px;
  display: none;
}
nav>ul{
  list-style: none;
  right: 2px;
  position: absolute;
  margin-top: 0px;
  top: 1px;

}
nav>ul>li{
  display: inline-block;
  line-height: 20px;
  margin: 0 2px;
  height: 52px;
  padding-top: 25px;
  padding-left: 6px;
  padding-right: 4px;
}
nav>ul>li>a{
  color: #008000;
  text-decoration: none;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.dropdown>ul{
  display: none;
  list-style: none;
  font-size: 15px;
  position:absolute;
  top: 80px;
  margin:0px;
}
.dropdown:hover>ul{
  display:block;

}
.dropdown>ul>li{
    background: rgba(111, 54, 98, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f9b6c8;
    float: left;
    padding: 14px 30px;
    width: 80%;
    margin: 0px 0;
}
.dropdown>ul>li>a {
    float: left;
    width: 100%;
    font-family: Nunito;
    color: #e8ecec;
    font-size: 14px;
    letter-spacing: 0.5px;

    text-decoration: none;
    transition: 1.4s;
}
.dropdown>ul>li>a:hover{
  font-size: 18px;
  transition: 0s ease;
}



.content{
  width: 90%;
  left: 0;
  box-shadow: none;
  margin-left: 0;
}


.motto{
  top: 380px;
  left: 0;
  box-shadow: none;
  width: 100%;
}

.slogan{
  display: none;
}

/*GALLERY*/
.row{
  float: left;
  display: flex;
  position: relative;
  top: 410px;
  left: 0px;
  width: 100%;

}

.img{
  margin-left: 30px;
  height: 420px;
  right: 15px;
}
.gallery-detail{
  position: relative;
  font-family: Nunito;
  text-align: center;
  top: -433px;
  color: #fff;
  background-color: #333333;
  height: 410px;
  opacity: 0.66;
  display: none;

}
.gallery-detail>h3{
  position: relative;
  top: 50%;
}

.img:hover .gallery-detail{
display: block;

}

#none{
  display: none;
}

.footer{
top: 1250px;
}
.bottomnav{
  display: none;
}
.top{
  right: 15px;
}
}



@media only screen and (max-width: 600px){
body{
  margin: 0px;
  padding: 0px;
}
.topbar{
  height: 270px;
  background-color:#FFEFD5;
  margin: 0px;
  position:absolute;
  width: 100%;
  top: 0;
  
}
.logo{
  top: 2px;
  height: 240px;
  width: 80px;
  padding: 10px;
  left: 25%;
  position: relative;
}

nav>ul{
  list-style: none;
  left: 0px;
  position: absolute;
  margin-top: 0px;
  top: 100px;
  right: 0px;

}
nav>ul>li{
  display: inline-block;
  line-height: 0px;
  margin: 0 7px;
  height: 52px;
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 11px;
  width: 25%;
}
nav>ul>li>a{
  color: #008000;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
#hudra{
  line-height: 15px;
}
#contact{
  display: none;
}
.dropdown>ul{
  display: none;
  list-style: none;
  font-size: 15px;
  position: absolute;
  top: 170px;
  margin:0px;
  right: 2px;
}
.dropdown:hover>ul{
  display: block;
}
.dropdown>ul>li{
    background: rgba(111, 54, 98, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f9b6c8;
    float: left;
    padding: 14px 30px;
    width: 80%;
    margin: 0px 0;
}
.dropdown>ul>li>a {
    float: left;
    width: 100%;
    font-family: Nunito;
    color: #e8ecec;
    font-size: 14px;
    letter-spacing: 0.5px;

    text-decoration: none;
    transition: 1.4s;
}
.dropdown>ul>li>a:hover{
  font-size: 18px;
  transition: 0s ease;
}

.content{
  top: 280px;
}
.motto{
  top: 815px;
  box-shadow: 2px 2px 5px #808080;
  padding-bottom: 15px;
}
.row{
  top: 880px;
  display: block;
}
.img{
  margin-left: 0px;
}



.footer{
  top:2590px;
}
}





















::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color:#FA8072;
 border-radius: 10px;
 padding: 3px;
}@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700,800|Nunito:300,300i,400,400i,600,600i,700,700i');

body{
  margin: 0px;
  padding: 0px;
}
html{
  scroll-behavior: smooth;
}
.topbar{
  height: 80px;
  background-color:#FFEFD5;
  margin: 0px;
  position:absolute;
  width: 100%;
  top: 0;
  
}
.logo{
  top: 10px;
  height: 240px;
  width: 80px;
  padding: 10px;
}
nav>ul{
  list-style: none;
  right: 4px;
  position: absolute;
  margin-top: 0px;
  top: 14px;

}
nav>ul>li{
  display: inline-block;
  line-height: 0px;
  margin: 0 3px;
  height: 52px;
  padding-top: 25px;
  padding-left: 6px;
  padding-right: 4px;
}
nav>ul>li>a{
  color: #008000;
  text-decoration: none;
  font-size: 15px;
  font-family:Nunito;
  font-weight: bold;
}
a::before{
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
background: rgb(118,168,0);
  left: 50%;
bottom: -8px;
  border-radius: 5px;
  transition: 0.2s;
}

nav>ul:hover a{
  color: #9932cc;
}
nav>ul>li>a:hover li>.line{
  display: block;
}
nav>ul>li:hover .link {
  font-size: 16px;
  transition: 0.3s;
}
nav>ul>li:hover .link{
  color: black;
  transition: 0.2s;
}
.line{
  height: 2px;
  background-color: #7CFC00;
  display: none;
}

.dropdown>ul{
  display: none;
  list-style: none;
  font-size: 15px;
  position: absolute;
  top: 66px;
  margin:0px;
}
.dropdown:hover>ul{
  display: block;
}
.dropdown>ul>li{
    background: rgba(111, 54, 98, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f9b6c8;
    float: left;
    padding: 14px 30px;
    width: 200px;
    margin: 0px 0;
    line-height: 20px;
}
.dropdown>ul>li>a {
    float: left;
    width: 100%;
    font-family: Nunito;
    color: #e8ecec;
    font-size: 14px;
    letter-spacing: 0.5px;

    text-decoration: none;
    transition: 1.4s;
}
.dropdown>ul>li>a:hover{
  font-size: 18px;
  transition: 0s ease;
}


/*Content*/
.heading{
  font-style: italic;
  font-size: 17px;
}
.content{
  position: relative;
  top: 90px;
  margin-left: 15px;
  width: 450px;
  height: 430px;
  line-height: 25px;
  font-family: Nunito;
  color: #666666;
  box-shadow: 2px 2px 5px #808080;
  padding: 5px 10px 10px 10px;
}
strong{
  color: #cc0000;
}

/*GALLERY*/
.row{
  float: left;
  display: flex;
  position: relative;
  top: 320px;
  left: 15px;

}

.img{
  margin-left: 35px;
  height: 420px;
  right: 15px;
  width: 370px;
}

.gallery-detail{
  position: relative;
  font-family: Nunito;
  text-align: center;
  top: -433px;
  color: #fff;
  background-color: #333333;
  height: 410px;
  width: 379.25px;
  opacity: 0.66;
  display: none;

}
.gallery-detail>h3{
  position: relative;
  top: 50%;
}

.img:hover .gallery-detail{
display: block;

}
/*FOOTER*/
.footer{
  position: relative;
  background-color: #FFEFD5;
  width: 100%;
  height:100px;
  top: 1170px;
}


.container{
  padding-left: 15px;
  top: 33.33%;
  position: absolute;
  line-height: 20px;
  left: 10px;
}



.bottomnav>ul{
  right: 50px;
  position: absolute;
  top: 25%;
  font-family: Nunito;
}
.bottomnav>ul>li{
  list-style: none;
  float: left;
  display: inline-block;
}
.bottomnav>ul>li>a{
  text-decoration: none;
  margin: 0 10px;
}
.bottomnav>ul>li>a:hover{
  color:red;
}
.top{
  position: fixed; bottom: 2px; right: 4px;
}

.top:hover{
  width: 60px;
  height: 60px;
  transition: 0.5s;
}

/*motto*/
.motto{
  position: absolute;
  left: 43%;
  width: 700px;
  top: 90px;
  height: 265px;
  box-shadow: 2px 2px 5px #808080;
}
.br{
  display: none;
}

.slogan{
  left: 43%;
  top: 375px;
  position: absolute;
  font-size: 30px;
  font-family: Nunito;
  color: #ffffcc;
  background-size: cover;
  height: 160px;
}

.slogan>h2::first-letter{
  font-size: 55px;

}





/*RESPONSIVENESS*/
@media only screen and (max-width: 1024px){
    body{
  margin: 0px;
  padding: 0px;
}
.topbar{
  height: 80px;
  background-color:#FFEFD5;
  margin: 0px;
  position:absolute;
  width: 100%;
  top: 0;
  
}
.logo{
  top: 10px;
  height: 240px;
  width: 80px;
  padding: 10px;
}
.menuicon{
  position: absolute;
  right: 400px; 
  top:15px;
  display: none;
}
nav>ul{
  list-style: none;
  right: 2px;
  position: absolute;
  margin-top: 0px;
  top: 1px;

}
nav>ul>li{
  display: inline-block;
  line-height: 20px;
  margin: 0 2px;
  height: 52px;
  padding-top: 25px;
  padding-left: 6px;
  padding-right: 4px;
}
nav>ul>li>a{
  color: #008000;
  text-decoration: none;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.dropdown>ul{
  display: none;
  list-style: none;
  font-size: 15px;
  position:absolute;
  top: 80px;
  margin:0px;
}
.dropdown:hover>ul{
  display:block;

}
.dropdown>ul>li{
    background: rgba(111, 54, 98, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f9b6c8;
    float: left;
    padding: 14px 30px;
    width: 80%;
    margin: 0px 0;
}
.dropdown>ul>li>a {
    float: left;
    width: 100%;
    font-family: Nunito;
    color: #e8ecec;
    font-size: 14px;
    letter-spacing: 0.5px;

    text-decoration: none;
    transition: 1.4s;
}
.dropdown>ul>li>a:hover{
  font-size: 18px;
  transition: 0s ease;
}



.content{
  width: 90%;
  left: 0;
  box-shadow: none;
  margin-left: 0;
}


.motto{
  top: 380px;
  left: 0;
  box-shadow: none;
  width: 100%;
}

.slogan{
  display: none;
}

/*GALLERY*/
.row{
  float: left;
  display: flex;
  position: relative;
  top: 410px;
  left: 0px;
  width: 100%;

}

.img{
  margin-left: 7px;
  height: 420px;
  right: 15px;
}
.gallery-detail{
  position: relative;
  font-family: Nunito;
  text-align: center;
  top: -433px;
  color: #fff;
  background-color: #333333;
  height: 410px;
  opacity: 0.66;
  display: none;

}
.gallery-detail>h3{
  position: relative;
  top: 50%;
}

.img:hover .gallery-detail{
display: block;

}

#none{
  display: none;
}

.footer{
top: 1250px;
}
.bottomnav{
  display: none;
}
.top{
  right: 15px;
}
}



@media only screen and (max-width: 600px){
body{
  margin: 0px;
  padding: 0px;
}
.topbar{
  height: 270px;
  background-color:#FFEFD5;
  margin: 0px;
  position:absolute;
  width: 100%;
  top: 0;
  
}
.logo{
  top: 2px;
  height: 240px;
  width: 80px;
  padding: 10px;
  left: 25%;
  position: relative;
}

nav>ul{
  list-style: none;
  left: 0px;
  position: absolute;
  margin-top: 0px;
  top: 100px;
  right: 0px;

}
nav>ul>li{
  display: inline-block;
  line-height: 0px;
  margin: 0 7px;
  height: 52px;
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 11px;
  width: 25%;
}
nav>ul>li>a{
  color: #008000;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
#hudra{
  line-height: 15px;
}
#contact{
  display: none;
}
.dropdown>ul{
  display: none;
  list-style: none;
  font-size: 15px;
  position: absolute;
  top: 170px;
  margin:0px;
  right: 2px;
}
.dropdown:hover>ul{
  display: block;
}
.dropdown>ul>li{
    background: rgba(111, 54, 98, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f9b6c8;
    float: left;
    padding: 14px 30px;
    width: 80%;
    margin: 0px 0;
}
.dropdown>ul>li>a {
    float: left;
    width: 100%;
    font-family: Nunito;
    color: #e8ecec;
    font-size: 14px;
    letter-spacing: 0.5px;

    text-decoration: none;
    transition: 1.4s;
}
.dropdown>ul>li>a:hover{
  font-size: 18px;
  transition: 0s ease;
}

.content{
  top: 280px;
}
.motto{
  top: 815px;
  box-shadow: 2px 2px 5px #808080;
  padding-bottom: 15px;
}
.row{
  top: 880px;
  display: block;
}
.img{
  margin-left: 0px;
}



.footer{
  top:2590px;
}
}





















::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color:#FA8072;
 border-radius: 10px;
 padding: 3px;
}